@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
    --font-sans:
        "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-lobster: "Lobster Two", sans-serif;
}

html,
body {
    @apply bg-white dark:bg-gray-950;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}
